.header-bar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px 5px !important;
    background-color: var(--header) !important;
    backdrop-filter: blur(5px);
    z-index: 9 !important;
}

.tabs-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tabs-wrapper::-webkit-scrollbar {
    display: none;
}

.header-drawer-style {
    width: 250px;
    height: 100%;
    background-color: var(--background) !important;
}

.header-menu-item {
    color: var(--text) !important;
}

.header-menu-item:active {
    color: var(--text) !important;
    background-color: var(--secondary) !important;
}

.selected-page-item {
    color: var(--text) !important;
    background: linear-gradient(var(--secondary), var(--secondary2)) !important;
}