.experience-container {
    justify-self: center !important;
    width: 95% !important;
    overflow: auto !important;
}

.experience-section {
    margin: auto;
    padding: 20px 30px;
    margin-top: 100px !important;
    background-color: var(--background-light) !important;
    border-radius: 15px;
    overflow: auto !important;
}

.experience-section span {
    color: var(--text);
}

.job-information-box {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    display: flex !important;
    align-items: center !important;
}

.ul-list {
    color: var(--text) !important;
}

.info-section-job {
    flex: 1 !important;
    min-width: 300px;
}