.skill-container {
    position: relative !important;
    margin: auto !important;
}

.certificates-container {
    width: 100%;
}

.nav-box {
    color: #fff !important;
    display: grid;
    margin: 50px 70px;
    padding: 50px;
    max-width: 100px !important;
    background: linear-gradient(#524d88, #2f3349) !important;
    border-radius: 100px;
}

.icons-skills {
    width: 100px !important;
    margin-bottom: 20px;
}

.select-div {
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
}

.img-certificates {
    width: 700px !important;
}

.certificates-div {
    display: grid;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    width: 700px !important;
    border: 2px solid #666666;
    border-radius: 4px;
}