.about-container {
    display: flex !important;
    position: relative !important;
    justify-self: center !important;
    width: 95% !important;
    margin-top: 30px !important;
    border: 3px solid var(--header) !important;
    border-radius: 6px !important;
}

.left-side {
    width: 30% !important;
    padding: 40px 0px !important;
    background-color: #131418 !important;
}

.right-side-about {
    width: 70% !important;
    background-color: rgba(36, 35, 35, 0.397) !important;
}

.img-style-about {
    margin: auto !important;
    width: 50% !important;
    height: 50% !important;
    margin-bottom: 10px !important;
    border-radius: 10% !important;
    border: 3px solid rgb(146, 146, 146);
    box-shadow: 0px 0px 10px 0px rgb(202, 202, 202) !important;
}

.section-about {
    padding: 0px 20px !important;
}

.section-about p {
    font-size: 18px;
    font-weight: 500 !important;
    color: var(--main-text) !important;
}