.home-container {
    display: flex !important;
    position: relative !important;
    justify-self: center !important;
    width: 95% !important;
    margin-top: 30px !important;
    border: 3px solid var(--header) !important;
    border-radius: 6px !important;
}

.left-side {
    width: 30% !important;
    padding: 40px 0px !important;
    background-color: #131418 !important;
}

.right-side {
    display: flex !important;
    align-items: center !important;
    width: 70% !important;
    background-color: rgba(36, 35, 35, 0.397) !important;
}

.img-style {
    width: 250px !important;
    height: 250px !important;
    margin-bottom: 10px !important;
    border-radius: 100% !important;
}

.section-home {
    padding: 0px 20px !important;
}

.section-home p {
    font-size: 18px;
    font-weight: 500 !important;
    color: var(--main-text) !important;
}