.home-container {
    position: relative !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-self: center !important;
    width: 95% !important;
    margin-top: 30px !important;
    border: 3px solid var(--header) !important;
    border-radius: 36px !important;
    overflow: auto !important;
}

.left-side {
    flex: 1 !important;
    min-width: 300px !important;
    background-color: #131418 !important;
}

.right-side {
    flex: 1 !important;
    min-width: 300px !important;
    background-color: #1f1f1f !important;
}

.img-style {
    width: 250px !important;
    height: 250px !important;
    margin-bottom: 10px !important;
    border-radius: 100% !important;
    border: 3px solid rgb(73, 73, 73);
}

.section-home {
    padding: 0px 20px !important;
}

.section-home p {
    font-size: 18px;
    font-weight: 500 !important;
    color: var(--text) !important;
}