.home-container {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    width: 95% !important;
    height: 100%;
    margin: auto !important;
    overflow: auto !important;
}

.content-home {
    flex: 1 !important;
}

.content-home-photo {
    display: flex;
    max-width: 320px !important;
    flex: 1 !important;
}

@media (max-width: 768px) {
    .content-home-photo {
        margin: auto;
        margin-top: 100px;
        flex: 1 !important;
    }
}

.right-side {
    flex: 1 !important;
}

.img-style {
    width: 50% !important;
    min-width: 300px !important;
    margin: auto !important;
    border-radius: 100% !important;
    border: 3px solid var(--secondary);
}

.section-home {
    padding: 20px !important;
}

.section-home p {
    font-size: 18px;
    font-weight: 500 !important;
    color: var(--text) !important;
}