

body {
  background: #1b1e27 !important;
}

:root {
  --header:             	#32353f;
  --page:                 #ffffff;
  --red-system:           #e41c1c;
  --red-system-strong:    #681010;
  --red-system-light:     #df8181;
  --main-text:            #f3f3f3;
}