

body {
  height: 100vh !important;
  background: #16161a !important;
}

:root {
  --header:             	#242629;
  --page:                 #16161a;
  --purple:               #7f5af0;
  --container:            #242629;
  --red-system:           #e41c1c;
  --red-system-strong:    #681010;
  --red-system-light:     #df8181;
  --secondary:            #e4e4e4;
  --main-text:            #fffffe;
  --test: #1b2030;
}

.link-fix {
  color: #71bafd !important;
  text-decoration: none;
}