.skills-container {
    position: relative !important;
    display: grid !important;
    flex-wrap: wrap !important;
    justify-self: center !important;
    width: 95% !important;
    margin-top: 30px !important;
    border: 3px solid var(--header) !important;
    border-radius: 6px !important;
}

.left-side-skills {
    flex: 1 !important;
    justify-self: center !important;
    max-width: 100% !important;
    background-color: #131418 !important;
    overflow: auto !important;
}

.right-side-skills {
    display: flex !important;
    flex-wrap: wrap !important;
    flex: 1 !important;
    min-width: 300px !important;
    background-color: rgba(36, 35, 35, 0.397) !important;
}

.tab-button {
    color: #fff;
    font-weight: bold;
}